.request-box{
    position: relative;
    width: auto;
    background: rgba(128, 128, 128, 0.128);
    height: 90vh;
   
}
.page-quote{
    padding-left: 10rem;
    padding-top: 6rem;
}


.no-call-fee-img{
    width: 30vh;
    position: absolute;
    top: 7rem;
    right: 30rem;
}
.phone-img{
    width:40vh;
    position: absolute;
    top:1rem;
    right: 8rem;

}
.Form{
    height:40vh;
    width: 180vh;
    background: rgb(255, 255, 255);
    z-index: 1;

    position: absolute;
    left: 10rem;
    top: 25rem;
}

